
body{
    margin: 0%;
    background-image: url(images/about\ me1.png);
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:fixed;
    background-size:cover;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #BC998B;
    font-size: 20px;
}

a:hover{
    color: white;
}


header {
    position: relative;
    padding: 15px;
    background-color: #ebe8d9;
}

.navbar{
    width: 100%;
    height: 60px;
    margin:  auto;
    display: flex;
    justify-content: space-between;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.logo img{
    position: absolute;
    margin-top: 2px;
    margin-left: 15px;
    height: 50px;
    width: 50px;
}

.navbar .links{
    display:flex;
    gap: 30px;
    margin-right: 30px; 
}

.content{
    margin-top: 3%;
    max-width: 1200px;
    
}

.about{
    font-size: 70px;
    margin-bottom: 0%;
    margin-left: 25%;
    letter-spacing: 10px;
    font-family:Arial, Helvetica, sans-serif;
    color: transparent;
    font-weight: bold;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #ac8e82;
    
}
.content p{
    margin: 10px 0 30px;
    color: #BC998B;
    margin-left: 10%;
    margin-right: 20%;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: justify;
    line-height: 145%;
    
}

.moreText{
    display: none;
}

.read-more-btn{
    padding: 10px 40px;
    background-color: #ac8e82;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    outline:none;
    font-size: 15px;
    cursor: pointer;
    margin-left: 8%;
    top: 1%;
}

.text.show-more .moreText{
    display: inline;
}

.aboutme-pic{
    width: 410px;
    height: 750px;
    bottom: 5px;
    right: 8%;
    position:absolute;
   
}

.animation{
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

@media screen and (max-device-width: 480px) 
    and (orientation: portrait) {
    a{
        font-size: 17px;
    }
    
    header {
        padding: 10px;
    }
    
    .navbar{
        width: 100%;
        height: 50px;  
    }
    
    .logo img{
        margin-left: 2%;
        margin-top: 7px;
        height: 35px;
        width: 35px;
    }

    .navbar .links{
        gap: 15px;
        margin-right: 9px;
    }
    
    .aboutme-pic{
        width: 210px;
        height: 450px;
        bottom: 0px;
        padding-left: 35%;
        position:relative;
    }

    .about{
        font-size: 35px;
        margin-left: 16%;
    }

    .content p{
        font-size: 15px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .read-more-btn{
        padding: 8px 30px;
        font-size: 13px;
        margin-left: 35%;
       
    }
}

@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {
        
    a{
        font-size: 25px;
    }
    
    .aboutme-pic{
        width: 410px;
        height: 850px;
        bottom: 0px;
        padding-left: 33%;
        position:relative;
    }

    .about{
        font-size: 80px;
        margin-left: 20%;
    }

    .content p{
        font-size: 20px;
        margin-left: 15%;
        margin-right: 15%;
    }

    .read-more-btn{
        padding: 8px 30px;
        font-size: 20px;
        margin-left: 42%;
       
    }
}